<% provide(:title, 'Login') %>

<div class = "row">
	<div class="col-xs-8 ">
		<center>
			<h1 class="top">Login</h1>

			<%= form_for(:session, url: login_path) do |f| %>

			<%= f.email_field :email , placeholder: "Name", class: "form-control input_new_pos "%>

			<%= f.password_field :password, placeholder: "Password", class: "form-control input_new_pos"%>

			<%= f.submit "To come in", class: "btn btn-primary input_new_pos"%>

			<% end %>
		</center>

	</div>
</div>